<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base/head.html :: header('Login')"></head>
<body>
<section th:include="base/nav-header.html :: navFragment"></section>
<nav class="header_menu navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    
</nav>
<div class="hero-wrap hero-wrap-2" style="background-image: url('/assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-12 text-center mb-5">
                <p class="breadcrumbs mb-0"><span class="mr-3"><a href="index.html">Trang chủ <i class="ion-ios-arrow-forward"></i></a></span> Bác sĩ<span></span></p>
                <h1 class="mb-3 bread">Thêm bác sĩ</h1>
            </div>
        </div>
    </div>
</div>

<section id="app" class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <h2 class="mb-4">Thông tin Cá nhân</h2>
                <form>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="email">Email</label>
                            <input type="email" id="email" name="email" disabled v-model="user.email" class="form-control inputDisabled" placeholder="Email" required>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="fullName">Họ và tên</label>
                            <input type="text" id="fullName" name="fullName" v-model="user.fullName" class="form-control" placeholder="Họ và tên" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="phone">Số điện thoại</label>
                            <input type="text" id="phone" name="phone" v-model="user.phone" class="form-control" placeholder="Số điện thoại" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="address">Địa chỉ</label>
                            <input type="text" id="address" name="address" v-model="user.address" class="form-control" placeholder="Địa chỉ" required>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="col-lg-6">
                <h2 class="mb-4">Thông tin bác sĩ</h2>
                <form class="p-4 border rounded">
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black">Giới thiệu chung</label>
                            <textarea v-model="doctor.introduction" id="introduction" class="form-control" placeholder="Introduction" required></textarea>
                        </div>
                    </div>
                    <div class="row form-group mb-1">
                        <div class="col-md-12 mb-md-0">
                            <label class="text-black">Quá trình đào tạo</label>
                            <textarea v-model="doctor.trainingProcess" id="trainingProcess" class="form-control" placeholder="Training process" required></textarea>
                        </div>
                    </div>
                    <div class="row form-group mb-1">
                        <div class="col-md-12 mb-md-0">
                            <label class="text-black">Thành tựu đạt được</label>
                            <textarea v-model="doctor.achievements" id="achievements" class="form-control" placeholder="Achievements" required></textarea>
                        </div>
                    </div>
                    <div class="row form-group mb-1">
                        <div class="col-md-12 mb-md-0">
                            <label class="text-black" >Chuyên khoa phụ trách</label>
							<textarea v-model="doctor.specialty" id="specialty" class="form-control" placeholder="specialty" required></textarea>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="row form-group">
                <div class="col-md-12">
                    <input type="button" value="Create" @click="create" class="btn px-4 btn-primary text-white">
                </div>
            </div>
        </div>
    </div>
  
</section>
<!-- window.user = /*[[${user}]]*/ null; 
	window.save_user = /*[[@{/auth/register}]]*/ null; -->
</body>
<script th:inline="javascript">
	window.user = /*[[${user}]]*/ 'null';
	window.doctor = /*[[${user}]]*/ 'null';
	window.url = /*[[@{/}]]*/ 'test';
	var contextPath = /*[[${#httpServletRequest.getContextPath()}]]*/ '';
	console.log('path', contextPath)
</script>
<script th:src="@{/assets/js/export/doctor_create.js}"></script>

</html>
