<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8" />
	<link th:href="@{classpath:/templates/pdf/test.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>[[${clinicName}]]</h1>
    <br />
    <br />
    <h1>Thông tin về bệnh án</h1>
    <div>
        <p>Họ và tên: [[${uesrName}]]</p>
        <p>Ngày khám: [[${scheduleDate}]]</p>
        <p>Chuẩn đoán bệnh: [[${patientDes}]]</p>
    </div>
</body>
</html>