<section th:fragment="navFragment">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid px-md-4	">
			<a class="navbar-brand" href="/">Doctor Care</a>				
			<div class="collapse navbar-collapse" id="ftco-nav">     
				<ul class="navbar-nav ml-auto">				
					<li class="nav-item cta mr-md-1" style="position: relative;" th:if="${#authentication != null}">
						<a class="dropdown-toggle nav-link pr-5" data-toggle="dropdown" href="#">fullname</a>    
						<ul class="dropdown-menu">
							<li class="nav-link dropdown-item"><a class="text-dark" th:href="@{/profile/home}">Hồ Sơ</a></li>
							<li class="nav-link dropdown-item"><a class="text-dark" href="/save-job/get-list" >Công việc đã lưu</a></li>
							<li class="nav-link dropdown-item"><a class="text-dark" href="/user/list-post" >Danh sách bài đăng</a></li>
							<li class="nav-link dropdown-item"><a class="text-dark" href="/user/get-list-apply" >Công việc đã ứng tuyển</a></li>
							<li class="nav-link dropdown-item"><a class="text-dark" href="/user/get-list-company" >Công ty đã theo dõi</a></li>
							<li class="nav-link dropdown-item"><a class="text-dark" href="${pageContext.request.contextPath}/logout" >Đăng xuất</a></li>
						</ul>
					</li>
						
					<li class="nav-item cta cta-colored" th:unless="${#authentication != null}">
						<a th:href="@{/asm3/login}" class="nav-link">Đăng nhập</a>
					</li>
					
				</ul>
			</div>
	    
		</div>
	</nav>
</section>
